/* Write your CSS here */
.details-card {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding-left: 30px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .details-card {
    width: 30%;
  }
}

.balance-bg {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
}

.income-bg {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
}
.expenses-bg {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
}

.card-icon {
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

.card-heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #475569;
  margin-bottom: 0px;
}

.amount {
  font-family: 'Roboto';
  font-size: 28px;
  color: #1e293b;
  font-weight: 500;
  margin-top: 10px;
}
